#container {
  position: absolute;
  background-color: aqua;
  height: 300px;
  width: 20%;
  border-radius: 100%;
  transform-origin: center;
  animation: moveAround 2s infinite;
}

@keyframes moveAround {
  0% {
    transform: translate(0, 0) scale(1);
  }

  50% {
    transform: translate(100%, 0) scale(1);
  }

  100% {
    transform: translate(0, 0) scale(1);
  }
}
