body {
  background-color: rgb(20, 20, 20);
  color: white;
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 35px;
}

li {
  width: 40px;
  background-color: rgb(88, 88, 88);
  border-radius: 5px;
  padding: 10px;
}
