body {
  background-color: rgb(20, 20, 20);
  color: white;
  margin: 0;
  padding: 0;
  display: grid;
}

ul {
  background-color: rgb(36, 36, 36);
  list-style-type: none;
  display: flex;
  margin: 0;
  flex-direction: column;
  width: 5%;
  gap: 25px;
  align-items: center;
  padding: 10px 0 10px 0;
  height: 100vh;
}

li {
  width: 40px;
  background-color: rgba(88, 88, 88, 0.8);
  border-radius: 5px;
  padding: 10px;
}

li:hover {
  background-color: rgba(133, 133, 133, 0.8);
}

.item-last {
  width: 30px;
  background-color: rgba(240, 248, 255, 0.5);
  position: sticky;
}

.nav-bar {
  visibility: visible;
  position: sticky;
  display: inline-block;
  bottom: 0;
}

.nav-bar.active {
  visibility: hidden;
}

.ham {
  visibility: hidden;
  display: none;
}

.ham.active {
  width: 4%;
  padding-left: 5px;
  visibility: visible;
  display: inline;
  background-color: rgb(102, 102, 102);
  border-radius: 100px;
  position: sticky;
  top: 0;
}

.ham.active:hover {
  position: absolute;
  animation: spin 0.5s 1;
  animation-fill-mode: forwards;
  animation-direction: alternate;
}

@keyframes spin {
  100% {
    transform: rotate(180deg);
  }
}
