body {
  background-color: rgb(49, 48, 61);
  color: white;
  margin: 0;
  padding: 0;
  display: grid;
}

ul {
  background-color: rgb(36, 36, 36);
  list-style-type: none;
  display: flex;
  margin: 0;
  flex-direction: column;
  width: min-content;
  gap: 25px;
  align-items: center;
  padding: 10px 10px 10px 10px;
  height: 100vh;
}

li {
  width: 40px;
  background-color: rgba(88, 88, 88, 0.8);
  border-radius: 5px;
  padding: 10px;
}

li:hover {
  background-color: rgba(133, 133, 133, 0.8);
}

#item-last {
  width: 30px;
  background-color: rgba(240, 248, 255, 0.5);
  position: sticky;
}

.nav-bar {
  visibility: visible;
  display: inline-block;
  position: fixed;
  top: 0;
}

.nav-bar.active {
  visibility: hidden;
}

.ham {
  visibility: hidden;
  display: none;
}

.ham.active {
  height: min-content;
  width: 50%;
  visibility: visible;
  display: inline;
  background-color: rgb(102, 102, 102);
  border-radius: 100px;
  position: sticky;
  top: 0;
}

.ham.active:hover {
  animation: spin 0.5s 1;
  animation-fill-mode: forwards;
  animation-direction: alternate;
}

#maincontent {
  display: grid;
  grid-template-columns: repeat(10, 10%);
  grid-template-rows: repeat(10, 10%);
  height: 100vh;
}

#block-one {
  display: flex;
  grid-area: 2 / 2 / 4 / 10;
  background-color: rgb(36, 36, 36);
  border-radius: 10px;
  justify-content: space-evenly;
}

#block-one * {
  display: flex;
  background-color: rgb(72, 63, 80);
  border-radius: 10px;
  align-self: center;
  width: 20%;
  height: 10vh;
}

#block-one div * {
  color: black;
  background-color: rgba(133, 133, 133, 0.3);
  margin: auto;
  align-items: center;
}

@keyframes spin {
  100% {
    transform: rotate(180deg);
  }
}
